.about {
    max-width: 60%;
    margin: auto;
    font: calibri;
}

h1 {
    color: lightgreen;
    align: center;
}

p {
    align: center;
}

.nav2 {
    align: center;
}

.thazme {
    align: center;
}

.MyPersona {
    align: center;
}